<!DOCTYPE html>
<!-- TODO: Create angular app from html page -->
<html data-ng-app="myApp">
<head>
    <title>Book demo</title>
</head>
<body>

<h1>Book demo</h1>

<!-- TODO: Create links as kind of menu -->
<a id="homeLink" href="/#/">Home</a> |
<a id="newLink" href="/#/books/new">New</a>
<div data-ng-view=""></div>
<!-- TODO: Create angular tag for displaying controller -->

<hr>
<div id="myCtrl" data-ng-controller="myCtrl as settings">{{whoami}}</div>
<!-- TODO: Create angular tag for displaying whoami -->

<!-- Lib -->
<script src="./javascripts/lib/angular.min.js"></script>
<script src="./javascripts/lib/angular-route.min.js"></script>
<script src="./javascripts/lib/angular-resource.min.js"></script>
<!-- TODO: Include Angularjs libraries -->


<!-- App -->
<script src="./javascripts/app.js"></script>
<script src="./javascripts/controllers.js"></script>
<script src="./javascripts/services.js"></script>
<!-- TODO: Include application libraries -->


</body>
</html>