<h2>Books</h2>

<!-- TODO: Create filter with angular -->
<input ng-model="query" placeholder="Search...">

<ul id="bookList">
    <li data-ng-repeat="book in books.doc | filter:query">
        <a href="/#/books/{{book._id}}">{{book.title}}, {{book.author}}</a>
    </li>
</ul>

<!-- TODO: Create list for displaying all items with angular -->
